* {
    overflow: hidden;
    box-sizing: border-box;
    border: none;
    padding: 0;
    margin: 0;
    outline: 0;
    color: white;
}

body {
    background: rgb(85,85,85);
    background: radial-gradient(circle, rgba(18,18,18,1) 0%, rgba(0,0,0,1) 80%);
    font-size: 18px;
    font-family: "Roboto", sans-serif;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    width: 100vw;
    padding: 12vh 3vw 0;
}

#header {
    width: 100%;
}

.center-contents {
    display: flex;
    align-items: center;
    flex-direction: column;
}

h2 {
    color:  #888888;
    font-family: inherit;
    font-weight: 300;
}

body p {
    font-family: inherit;
    font-weight: 100;
    font-size: 14px;
}

.roulette-cont {
    justify-self: center;
    font-family: inherit;
    font-weight: 300;
    width: 100%;
}

.roulette-cont #strat-name {
    text-align: center;
    margin-bottom: 2vh;
    color:  #0984e3;
    text-shadow: 0 0 15#0984e3;
    font-size: 2em;
}

.roulette-cont #strat-intro {
    width: 60vw;
    font-size: 18px;
}

.roulette-cont ul {
    
}

.roulette-cont ul li {
    margin-bottom: 10px;   
}

.center-text {
    text-align: center;
}

.justify-text {
    text-align: justify;
    text-justify: inter-word;
}

@media screen and (min-width: 600px) {
    .justify-text {
        text-align: center;
    }
}
  

body #button-cont {
    width: 100%;
    height: 20vh;
    align-self: flex-end;
}

body button#new-strat-button {
    color: black;
    background-color: #0984e3;
    text-align: center;
    padding: 15px 40px;
    font: inherit;
    font-size: 24px;
    cursor: pointer;
    border-radius: 15px;
}

body button#new-strat-button:hover {
    background-color: #0984e3;
    box-shadow: 0 0 5px #0984e3;
}

#footer {
    font-family: inherit;
    font-weight: 100;
    width: 100%;
    margin-bottom: 2px;
}


